body{
    background:url(./images/astronaut_swing_bouquet_154206_1920x1080.png) no-repeat;
    background-size: cover;
}

.container{
    background-color:white;
    min-height:100vh;
    width:1000px;
    position:relative;
    right:-350px;
    box-shadow: rgba(255, 255, 255, 0.616) 0px 54px 55px, rgba(255, 255, 255, 0.616) 0px -12px 30px, rgba(255, 255, 255, 0.616) 0px 4px 6px, rgba(255, 255, 255, 0.507) 0px 12px 13px, rgba(255, 255, 255, 0.479) 0px -3px 5px;
}

.task-area{
    border:1px solid lightgray;
}

#user-input{
   transition:padding-top 0.2 ease, margin-top 0.2s ease;
   width:80%;
   border:none;
   border:1px solid rgb(226, 219, 180);
}

#user-input:focus{
    outline:none;
    border-bottom:3px solid rgb(226, 219, 180);
    border-left:none;
    border-top:none;
    border-right:none;
}

#user-input + label > span{
    font-weight: 300;
    margin:0;
    position:absolute;
    color:#8f8f8f;
    font-size:14px;
    top:60px;
    left:18px;
    transition:top 0.2s ease, font-size 0.2s ease, color 0.2 ease;
}

#user-input:focus + label >span{
    display:none;
}

#add-button{
    border:none;
    background-color:rgb(226, 219, 180);
    box-shadow: rgba(0,0,0,0.02)0 1px 3px 0;
    border-radius: 20%;;
}

#add-button span{
    font-size:17px;
    text-align: center;
    font-weight:700;
}

#add-button:active{
    background-color:whitesmoke;
    box-shadow:-1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,1.,0.15);
    transform:translateY(0.125rem);
}

#add-button:hover{
    background:rgb(233, 154, 64);
}

.task-area{
    border:1px solid lightgoldenrodyellow;
    margin-top:1em;
    position:relative;
}

.task-tabs{
    display:flex;
    border-bottom:1px solid lightgray;
   
}

.task-tabs div{
    padding:1em;
    cursor:pointer;
}

#under-line{
    height:4px;
    width:48px;
    background:rgb(233, 154, 64);
    position:absolute;
    left:4px;
    top:52px;
    padding:0;
   
}

.task{
    display:flex;
    justify-content: space-between;
    width:100%;
    border-bottom:1px solid rgb(211, 211, 211);
    position:relative;
}

.task span{
    padding:1em;
}

.task-done{
    text-decoration: line-through;
    color:orangered;
    background-color:rgb(211, 211, 211,0.3);
    transition:0.5s;
}

.button-box{
    display:flex;
}

.button-box button{
    border:none;
    height: 100%;
    width:5em;
    margin:0;
    background-color:white;
    transition:0.5s;
    
}

.button-box button:first-child:hover{
    background-color:rgb(226, 219, 180);
    
}

.button-box button:nth-child(2):hover{
    background-color:rgb(226, 219, 180);
}

.button-box button:active{
    position:relative;
    top:2px;
}


.fa-circle-check{
    color:rgb(61, 145, 61);
    width:5em;
    position:relative;
    left:-6px;
}

.fa-trash-can{
    color:brown;
}

.fa-rotate-left{
    color:gray;
}